.ui-info-box {
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
}

.ui-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ui-bar-container-label {
  width: 95px;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.12px;
  color: #888888;
  word-break: break-word;
}

.ui-smiley-image {
  height: 22px;
  margin-right: 8px;
}

.ui-smiley-bar {
  display: flex;
  align-items: center;
}

.ui-data-info {
  display: flex;
  justify-content: space-between;
  width: 84px;
  font-size: 10px;
  font-weight: 500;
  color: #888888;
}

.ui-data-bar {
  display: flex;
  align-items: center;
  height: 22px;
}

.ui-bar-ack {
  width: 2px;
  height: 16px;
  background: gray;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 0 1.6px 0 1.6px;
}

.ui-bar-yellow {
  width: 2px;
  height: 16px;
  background: yellow;
  border: 1px solid yellow;
  border-radius: 5px;
  margin: 0 1.6px 0 1.6px;
}

.ui-bar-yellow-empty {
  width: 2px;
  height: 16px;
  border: 1px solid yellow;
  border-radius: 5px;
  margin: 0 1.6px 0 1.6px;
}

.ui-bar-red {
  width: 2px;
  height: 16px;
  background: red;
  border: 1px solid red;
  border-radius: 5px;
  margin: 0 1.6px 0 1.6px;
}

.ui-bar-red-empty {
  width: 2px;
  height: 16px;
  border: 1px solid red;
  border-radius: 5px;
  margin: 0 1.6px 0 1.6px;
}

.ui-bar-green {
  width: 2px;
  height: 16px;
  background: #6ee294;
  border: 1px solid #6ee294;
  border-radius: 5px;
  margin: 0 1.6px 0 1.6px;
}

.ui-bar-green-empty {
  width: 2px;
  height: 16px;
  border: 1px solid #6ee294;
  border-radius: 5px;
  margin: 0 1.6px 0 1.6px;
}

.ui-bar-orange {
  width: 2px;
  height: 16px;
  border: 1px solid #f5a623;
  background: #f5a623;
  border-radius: 5px;
  margin: 0 1.6px 0 1.6px;
}

.ui-bar-orange-empty {
  width: 2px;
  height: 16px;
  border: 1px solid #f5a623;
  border-radius: 5px;
  margin: 0 1.6px 0 1.6px;
}

.ui-dot-container {
  display: flex;
  align-items: center;
  font-size: 9px;
  font-weight: 600;
  color: #8b8b8b;
}

.ui-dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid #FFFFFF;
  border-radius: 25px;
}

.ui-dot-red {
  background-color: #ff3563;
}

.ui-dot-green {
  background-color: #6ee294;
}