.ui-account-header {
  padding: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 0px #EEEEEE;
}

.ui-account-main-label {
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  letter-spacing: -0.24px;
  color: #444444;
}

.ui-account-cancel-label {
  font-weight: 500;
  font-size: 17px;
  letter-spacing: -0.24px;
  color: #5F72FF;
}

.ui-account-done-label {
  font-weight: 600;
  font-size: 17px;
  letter-spacing: -0.24px;
  color: #5F72FF;
}